.home {
  min-height: 100vh;
  background: var(--bg-secondary);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.home_middle {
  margin-top: 75px;
  margin-left: 31.8vw;
}

/*-----Activate popup----*/
.popup {
  position: relative;
  background: var(--bg-primary);
  box-shadow: 0 1px 2px var(--shadow-1);
  width: 40vw;
  height: 200px;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  text-align: center;
  border-radius: 10px;
}
.popup_header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  border-bottom: 1px solid var(--bg-third);
  padding: 15px;
}
.popup_message {
  padding: 15px;
  font-weight: 500;
}
.popup_middle {
  justify-content: center;
  text-align: center;
  position: relative;
  left: 50%;
  top: 0;
}
/*-----Activate popup----*/
